.title {
    font-weight: bold;
}

/* ==========================================================================
   Table Styles
   ========================================================================== */

.table-box {
    padding: clamp(10px, 5vh, 100px) clamp(10px, 5vw, 100px);
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 5vh, 100px);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: var(--alt-light);
}

td, th {
    border: 1px solid var(--alt-dark);
    text-align: left;
    padding: 0.5rem;
}

th {
    color: var(--main-light);
    background-color: var(--main-dark);
}

td {
    color: var(--main-dark);
}

tr:nth-child(even) td {
    background-color: var(--main-light);
    color: var(--main-dark);
}

table a {
    text-decoration: none;
    color: var(--main-dark);
}

table a:hover {
    text-decoration: underline;
}

table tr:nth-child(odd) a {
    color: var(--main-light);
}