/* CSS Reset */

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

header>img {
  min-width: 70px;
  min-height: 70px;
}

#header-name {
  margin-right: auto;
  margin-left: 10px;

  font-size: 1.5rem;
  color: #27374D;
}

html {
  background-color: #DDE6ED;
}

header {
  position: sticky;
  top: 0;

  width: 100%;
  height: 70px;

  background-color: #9DB2BF;

  display: flex;
  align-items: center;
}

nav {
  width: 60%;
}

nav>ul {
  height: inherit;

  min-width: 220px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  font-size: 1.2rem;
}

nav>ul a {
  text-decoration: none;
  color: #27374D;
}

nav>ul a:hover {
  color: #DDE6ED;
}

/* Hero Section */

#hero {
  height: 250px;

  margin: 50px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#hero>h1 {
  font-size: 4rem;
}

#project,
#education,
#experience {
  padding: 20px;
  margin: 10px;
}

#project {
  flex: 2;
}

#experience {
  flex: 3;
}

#education {
  flex: 3;
}

#project,
#education,
#experience {
  background-color: #27374D;
}

#project h3,
#experience h3,
#education h3 {
  font-size: 1.5rem;
  font-weight: 500;

  margin-bottom: 30px;
}

#education div {
  margin: 20px;
}

#education h5 {
  font-size: 1.2rem;
  font-weight: 500;

  margin-top: 15px;
  margin-bottom: 15px;
}

#education li {
  margin: 10px 0px 0px 20px;
  ;
}

#education a {
  text-decoration: none;
  color: #9DB2BF;
}

#education a:hover {
  text-decoration: underline;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #526D82;
}

td,
th {
  border: 1px solid #27374D;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #9DB2BF;
  color: #27374D;
}

table a {
  text-decoration: none;
  color: #27374D;

  /* font-weight: bold; */
}

table a:hover {
  text-decoration: underline;
}

table a:hover:nth-child(even) {
  text-decoration: underline;
  color: #DDE6ED;
}

table tr:nth-child(odd) a {
  color: #DDE6ED;
}

.border {
  border: 5px solid #9DB2BF
}

.home-body {
  color: #DDE6ED;

  display: grid;

  grid-template-columns: 30% 35% 35%;
}

.underline {
  text-decoration: underline;
}